.ChatbotImage {
    font-family: sans-serif;
    text-align: center;
  }
  
  .dialog {
    box-shadow: 0 8px 6px -6px black;
    position: static;
    left: -60%;
    top: 10%;
  }
  
  .image {
    width: 400px;
    }